:root {
    --primary: #ffffff;
    --secondary: #000000;
    --nav: #F4F4F4;
    --footer: #232323;
    --tertiary: #FF6445;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--primary);
}

header {
    background: var(--nav);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    align-items: center;
    justify-content: center;

}

header .logo img {
    margin-top: 1.2%;
    width: 230px;
    border-right: 2px solid var(--secondary);
    align-items: center;
    justify-content: center;
}

header .nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header .nav li {
    list-style: none;

}
header .nav li a{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary);
    text-transform: uppercase;
}
header .nav li a::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    height: 2px;
    background: var(--secondary);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
header .nav li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    
}
header .nav-toggle {
    position: relative;
    font-size: 2.5rem;
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}



@media (max-width:768px) {

    header .nav-toggle{
        display: block;
    }
    header .logo img {
        border: none;
    }
    header .nav {
        flex-direction: column;
        margin: 0;
        background: var(--nav);
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        padding: 20px 0;
        border-radius: 0 0 20px 20px;
        height: calc(60% - 20px);
        overflow-y: auto;
        left: 0%;
        transition: left 0.3s;
    }
    header .nav-visible{
        left: 100%;
    }
    

}
.container{
    margin: auto;
    max-width: 99%;
    height: auto;
    background: url(/img/Fondos/Banner.png)center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7% 5%;
    border-radius: 20px;
    color: var(--primary);
}
.container h1{
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 90px;
    
}
.container p{
    font-size: 1.2rem;
    margin: 20px 0;
    width: 50%;
    font-weight: 300;
}
.container button{
    padding: 1% 2%;
    border-radius: 20px;
    background: var(--tertiary);
    font-size: 1rem;
    transition: .3s;
}
.container button:hover{
    font-size: 1.2rem;
}
.container button a{
    color: var(--primary);
}

@media (max-width:768px){
    .container h1{
        font-size: 4rem;
    }
    
}


.container-carousel {
    position: relative;
    margin: 20px auto;
    max-width: 99%;
    height: auto;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;

}

.slider-section {
    width: calc(100% / 10);
    box-sizing: border-box;
    height: auto;
    background:url(/img/Fondos/Fondo\ Maquinas.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.slider-section-2{
    width: calc(100% / 10);
    height: auto;
    background:url(/img/Fondos/Fondo\ Maquinas-2.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.slider-section .content{
    padding: 5% 12%;
}
.slider-section-2 .content{
    padding: 5% 12%;
    color: var(--primary);
}
.slider-section h1{
    width: 100%;
    font-size: 4rem;
}
.slider-section-2 h1{
    width: 100%;
    font-size: 4rem;
}
.slider-section p{
    text-align: justify;
    width: 90%;
    margin-top: 5%;
}
.slider-section-2 p{
    text-align: justify;
    width: 90%;
    margin-top: 5%;
}
.slider-section button{
    margin-top: 10%;
    padding:3%;
    background: var(--tertiary);
    border-radius: 20px;
    font-size: 1rem;
    transition: .3s;
}
.slider-section-2 button{
    margin-top: 10%;
    padding:3%;
    background: var(--tertiary);
    border-radius: 20px;
    font-size: 1rem;
    transition: .3s;
}
.slider-section button:hover{
    font-size: 1.2rem;
}
.slider-section-2 button:hover{
    font-size: 1.2rem;
}
.slider-section button a{
    color: var(--primary);
}
.slider-section-2 button a{
    color: var(--primary);
}
.slider-section .content-2{
    text-align: center;
    padding: 2%;
}
.slider-section-2 .content-2{
    text-align: center;
    padding: 2%;
}
.slider-section img{
    margin: auto;
    width: 65%;
}
.slider-section-2 img{
    margin: auto;
    width: 65%;
}
@media (max-width:768px){
    .slider-section{
        width: calc(100% / 10);
        text-align: center;
        grid-template-columns: 1fr;
        
    }
    .slider-section h1{
        padding: 1%;
        font-size: 2rem;
    }
    .slider-section p{
        width: 100%;
        font-size: 0.9rem;
        text-align: justify;
    }
}

.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: #333333d4;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--primary);
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    font-size: 2rem;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}
.benefits{
    width: 99%;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 20px;
    padding: 5%;
    background: url(/img/Fondos/Fondo\ Beneficios.png)center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.benefits h1{
    font-size: 2.5rem;
}
.benefits section{
    
}
.benefits .item{
    background: var(--primary);
    margin-top: 2px;
}